div.init {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
    align-items: center;
}

.init .btn {
    width: 150%;
    justify-content: center;
    font-size: 18px;
    color: #D70900;
    border: 1px solid #D70900;
}

.root {
    display: flex;
    align-items: center;
    justify-content: center;
}