.questions {
    width: 80%;
}

.questions .logoHeader {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.questions .logoHeader img {
    width: 52px;
    margin-right: 20px;
}

.question .questionBtn.btn {
    width: 100%;

    color: #333333;
    font-size: 16px;
    font-weight: 700;

    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px 0;
}

.question .questionBtn.btn:last-child {
    margin-bottom: 90px;
}

.question .questionBtn ion-icon {
    font-size: 23px;
    font-weight: 700;
    --ionicon-stroke-width: 50px;
}

.questions footer {
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;

    font-family: 'Recursive', sans-serif;

    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.274);

}

.question .opened-card {
    background-color: #FFFFD4;
    height: 130px;
    margin: 20px 0;
    padding: 0 15px;
    position: relative;
}

.question .opened-card:last-child {
    margin-bottom: 90px;
}

.turning {
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.card-answer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.card-answer div.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-answer button {
    width: 30%;
    height: 38px;
    color: #FFFFFF;
    border:none;
    border-radius: 5px;
    font-family: 'Recursive', sans-serif;
    font-size: 12px;
}

.card-answer button.incorrect {
    background-color: #FF3030;
}

.card-answer button.almost {
    background-color: #FF922E;
}

.card-answer button.correct {
    background-color: #2FBE34;
}